@import "normalize.css";

/* @media (min-width: 431px) {
  .header {
    height: 200px;
    position: relative;
  }
} */

body {
  background-color: #fff;
  color: #222;
  font-family: "Merriweather", serif;
}

ul {
  list-style-type: none;
}

a {
  color: #c23a3a;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #fff;
  padding-bottom: 10px;
  font-size: 1.5em;
}

#main {
  padding: 0 15px;
}

.header {
  height: 450px;
  /* position: relative; */
}

.header-text {
  /* position: absolute;
  left: 5%; */
  color: #d12424;
  padding: 10px;
  /* line-height: 10%; */
}

.my-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

#my-photo {
  border-radius: 50%;
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin: 10px 66px 20px 20px;
}

#project-container {
  padding-top: 30px;
}

#project-header {
  background-color: #d12424;
  height: 50px;
  color: #fff;
  text-align: center;
  padding: 5px;
}

#project-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.project {
  max-width: 360px;
  min-width: 360px;
  height: 300px;
  padding: 5px;
  margin: 8px;
  border: 2px solid #222;
}

.project-text {
  text-align: center;
}
