@import "normalize.css";

body {
  background-color: #fff;
  color: #222;
  font-family: "Merriweather", serif;
}

ul {
  list-style-type: none;
}

a {
  color: #c23a3a;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  background-color: #fff;
  padding-bottom: 10px;
  font-size: 1.5em;
}

#main {
  padding: 0 15px;
}

.header {
  /* background-image: url("https://images.unsplash.com/photo-1496629062893-b0f566065d44?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"); */
  background-color: #fff;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-text {
  /* text-align: center; */
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-25%, -25%);
  color: #ff2020;
}

#project-header {
  background-color: #ff2020;
  height: 50px;
  color: #fff;
  text-align: center;
  padding: 5px;
}

#project-list {
  display: flex;
}

.project {
  max-width: 400px;
  /* border: 2px solid #ff2020; */
  /* background: #eee; */
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.project-text {
  text-align: center;
}
