 /* Global
---------------------------------------*/
/* Border Box Fix */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-family: 'Karma', serif;
  font-size: 62.5%;
  background-color: #000000;
  color: #000;
}

h1 {
  font-size: 12em;
}

p {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-copy {
  max-width: 900px;
}

/* Name and Title
---------------------------------------*/
#title {
  padding: 25px 0 15px;
  margin-bottom: 35px;
  text-align: center;
  background-image: url('./images/eberhard-grossgasteiger-1241085-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@keyframes nameFadeIn {
  0% {
    /* position: absolute; */
    top: -3rem;
    opacity: 0;
  }

  75% {
    /* position: absolute; */
    top: 25%;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

#title > h1 {
  color: #32382d;
  width: 100%;
  line-height: 3;

  animation-name: nameFadeIn;
  animation-duration: 5s;
}

@keyframes titleFadeIn {
  0% {
    /* position: absolute; */
    top: -3rem;
    opacity: 0;
  }

  75% {
    /* position: absolute; */
    top: 25%;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

#title > h2 {
  font-size: 5em;
  color: #ffff6e;
  line-height: 1;
  width: 100%;
  animation-name: nameFadeIn;
  animation-duration: 8s;
}

/* Tech Skills Area */
.tech {
  text-align:center;
  width: 100%;
}

.tech i {
  font-size: 5em;
  margin: 0 20px;
  color: #FFF;
}

#react-logo {
  color: #62d9ff;
}

#react-logo:hover {
  color: #4298b4;
}

#node-logo {
  color: #6aa059;
}

#node-logo:hover {
  color: #3c5e32;
}

#js-logo {
  color: #f0dd0e;
}

#js-logo:hover {
  color: #a89b08;
}

#html-logo {
  color: #e14f11;
}

#html-logo:hover {
  color: #9c360b;
}

#css-logo {
  color: #2645ed;
}

#css-logo:hover {
  color: #172ba0;
}

/* About Me
---------------------------------------*/
#about {
  padding: 15px 25px;
  margin: 0 auto;
  background-color: #CCC;
}

#about a {
  text-decoration: underline;
}

/* Work Section
---------------------------------------*/
#work {
  margin: 0 auto;
  padding: 15px 0;
  background-color: #333;
}

#work h3 {
  font-size: 3em;
  padding-left: 30px;
  color: #FFF;
}

.card {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px 40px;
  margin: 10px;
  text-align: center;
}

.card p {
  text-align: justify;
}

.work-image {
  max-width: 80%;
}

.work-card__link {
  text-decoration: underline;
}

/* Social Links
---------------------------------------*/
#social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 0;
  max-width: 950px;
  margin: 0 auto;
}

i {
  font-size: 5em;
  color: #af0d00;
}

i:hover {
  color: #e83729;
}

/* Favorite Quote
---------------------------------------*/
#quote {
  padding: 50px 0;
  font-style: italic;
  margin: 0 auto;
}
blockquote > p {
  color: #CCC;
}

footer {
  font-size: 1.5em;
  text-align: end;
  color: #CCC;
}
