 /* Global
---------------------------------------*/
/* Border Box Fix */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-family: 'Karma', serif;
  background-color: #FFFFEB;
  color:#191915;
}

p {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Name and Title
---------------------------------------*/
#title {
  padding: 15px;
  text-align: center;
}

#title > h1 {
  font-size: 10em;
  line-height: 10rem;
}

#title > h3 {
  font-size: 4em;
  color: #3E72A4;
  margin-top: -100px;
}

/* Tech Skills Area */
.tech {
  text-align:center;
  padding-bottom: 50px;
}

.tech i {
  font-size: 3em;
  margin: 0 20px;
  color: #191915;
}

.tech i:hover {
  color: none;
}

/* Social Links
---------------------------------------*/
#social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 0;
  max-width: 800px;
  margin: 0 auto;
}

i {
  font-size: 5em;
  color: #af0d00;
}

i:hover {
  color: #e83729;
}

/* Bottom Social */
#social2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px 0;
  max-width: 800px;
  margin: 0 auto;
}

.bottom-social {
  font-size: 4em;
}

/* About Me
---------------------------------------*/
#about {
  padding: 15px 25px;
  max-width: 800px;
  margin: 0 auto;
}

#about a {
  text-decoration: underline;
}

/* Work Section
---------------------------------------*/
#work {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}

.work-image {
  max-width: 80%;
}

.work-card__link {
  text-decoration: underline;
}

/* Favorite Quote
---------------------------------------*/
#quote {
  padding: 50px 0;
  font-style: italic;
  max-width: 800px;
  margin: 0 auto;
}

blockquote > p {
  color: #444442;
}
footer {
  font-size: 1.5em;
  text-align: end;
}